{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
    <div>
        func det4 <br>
        html app/det4<br>
        <p> 
        Logged in as : <strong>{{   user.get_username | title     }}</strong> <br><br>
        Welcome to : <strong>{{ project }} </strong>
        </p>
        <div class="center">
           <button class="button button1">IMPORT DATA</button><br>
           
        </div>
    </div>
    {% endblock %}
    
</body>
</html>