{%  extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}

    Transform data page.
    <h1>
    Project Name : {{project}}
    </h1>
    
    <button class = "button button2">Transform  Data</button><br><br>
    <div class="text-center">
        <button class = "button button2"><a href="{% url 'createtransformation' %}"> Create  Transformation </a></button><br><br>
        <button class = "button button2"><a href="{% url 'executetransformation' %}">Execeute Transformation </a></button><br><br>
    </div>    
    {% endblock %}
</body>
</html>