{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

    
    {% block content %}
    <div>
        <!-- <button class="button button1">Green</button>
        <button class="button button2">Blue</button>
        <button class = 'button button3'>Pink</button>  
         -->
    </div>
    <!-- <h1>This is a app html page.    </h1> -->
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div >
        <table style="width:100%"; border-spacing: 5px; border=1px solid black; padding = 10px>
            <tr>
                <th>Project Number</th>
                <th >Project Name</th>
                <th >Project Data</th>
                <th >Project Value </th>
                <th >Project Status</th>
                <th> Project Details page</th>
                <th> Update </th>
                <th> Delete </th>
            </tr>
            {% for project in proj %}
            <tr>
                
                    <td style="text-align:center"> {{ project.id }}    </td>
                    <td style="text-align:center"> {{ project.name }}     </td>
                    <td style="text-align:center"> {{project.data }}    </td>
                    <td style="text-align:center"> {{ project.value }}    </td>
                    <td style="text-align:center"> {{project.completed }}  </td>
                    
                    {% if project.completed %}

                    {{project.id| add:"1"}}
                    
                        <td style="text-align: center;" >
                            <a href = "detail_product/{{project.id}}"> <button class = "button button1">Detail</button></a>
                        </td>
                        <td style = "text-align: center;">
                            <a href="update/{{project.id}}"><button class = "button button2">Update</button></a>
                        </td>
                        <td style="text-align: center;">
                            <a href = "delete/{{project.id}}"><button class = "button button3">Delete</button></a>
                        </td>
                        

                    {% else %}
                        <td style="text-align: center;" >
                            <button class = "button button1" onclick="myFunction()">Detail</button>
                        </td>
                        <td style = "text-align: center;">
                            <button class = "button button2"onclick="myFunction()">Update</button>
                        </td>
                        <td style="text-align: center;">
                            <button class = "button button3" onclick="myFunction()">Delete</button>
                        </td>
                    {% endif %}

            </tr>   
            {% endfor %}           
            
        </table>       
    
    </div>  
    
    <!-- This is the end fo the table page. -->
    <!-- {% for i in proj %}
    {{ i }} <br>Project number is :{{i.id  }}
    <a href = "detail_product/{{i.id}}"> <button class = "button button1">Detail</button></a>
    <a href="update/{{i.id}}"><button class = "button button2">Update</button></a>
    <a href = "delete/{{i.id}}"><button class = "button button3">Delete    </button></a>
    <br><br>
    {% endfor %} -->
    <hr>
    <div>
        <h5>
            Hai <br><br> 
            Total number of Projects = {{proj|length}} <br>
            Completed projects = 
            {% for proj in proj %}

                {% if proj.completed is True  %}
                <!-- length {{proj.completed|length}}, -->
                {{proj.name}},              
                {% endif %}
            {% endfor %}
            <br>    
            Incomplete Projects = 
            {% for proj in proj %}
                {% if proj.completed is False %}
                {{proj.name}},
                {{forloop.counter}}
                
                {% endif %}
            {% endfor %}
        </h5>
    </div>
    <hr>
    {% endblock %}
    {% block update %}
    <div class="flex-container">
        <div class="flex-child">
            <div>
                <p>Please Enter the new project details.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                    
                </form>
            </div>
        </div>
        <div class="flex-child">
            <p> This is the Data Block. </p>
            Enter here for the next project.
            <td style="text-align: center;" >
                <a href = "detail_product/{{project1.id}}"> <button class = "button button1">Next project.</button></a>
            
            </td>
          
            <div >
            </div>
        </div>
    </div>

    {% endblock %}
</body>
</html>

            <form method = 'post'>
                {% csrf_token %}
                
                <strong> Forms block. </strong> 
                {{ form.as_p }}
                
                <input type="submit" value="Update">
                <a href  = '/proj1'>Cancel</a><br><br>
            </form>
